Package         Version
--------------- -------
asgiref         3.2.10
defusedxml      0.6.0
Django          3.1.2
numpy           1.19.3
odfpy           1.4.1
pandas          1.1.4
Pillow          8.0.1
pip             20.2.4
psycopg2-binary 2.8.6
python-dateutil 2.8.1
pytz            2020.1
setuptools      50.3.2
six             1.15.0
sqlparse        0.4.1
wheel           0.35.1
xlrd            1.2.0
