<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сводная-отчета-реестра</title>
    <link rel="stylesheet" href="dis_pril6.css">
</head>

<body>
    <form action="#">
        <header>
            <div class="wrapper">
                <div class="head-left">
                    <p class="head">Приложение 5</p>
                </div>
                <div class="head-center">
                    <div>
                        <h1>ОТЧЕТ</h1>
                    </div>
                </div>
                <div>
                    <div class="input-block">
                        <div class="data">
                            <p class="font">о мониторинге животных в городских приютах <input type="text"></p>
                            <p class="font">(<input type="text">административного округа г.Москвы)</p>
                            <p class="font ">c «<input class="day" required type="number">» <input class="mounth"
                                    type="text">
                                <input class="year" type="number"> .г по «<input class="day" required type="number">»
                                <input class="mounth" type="text">
                                <input class="year" type="number"> .г</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div>
                <table class="main-table border-table-animal">
                    <tr>
                        <th class="border-table-animal" rowspan="2">
                            <div>Наименование и адрес приюта</div>
                        </th>
                        <th class="border-table-animal" colspan="3">
                            <div>Количество животных в приюте на начало отчетного периода, ед.</div>
                        </th>
                        <th class="border-table-animal" colspan="3">
                            <div>Прибыло в приют в течение отчетного периода, ед.</div>
                        </th>
                        <th class="border-table-animal" colspan="3">
                            <div>Выбыло из приюта в течение отчетного периода, ед.</div>
                        </th>
                        <th class="border-table-animal" colspan="3">
                            <div>Количество животных в приюте на конец отчетного периода, ед.</div>
                        </th>
                        
                    </tr>
                    <tr>
                        <td class="border-table-animal">
                            <div>Всего, в том числе:</div>
                        </td>
                        <td class="border-table-animal">
                            <div>собаки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>кошки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>Всего, в том числе:</div>
                        </td>
                        <td class="border-table-animal">
                            <div>собаки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>кошки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>Всего, в том числе:</div>
                        </td>
                        <td class="border-table-animal">
                            <div>собаки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>кошки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>Всего, в том числе:</div>
                        </td>
                        <td class="border-table-animal">
                            <div>собаки</div>
                        </td>
                        <td class="border-table-animal">
                            <div>кошки</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                        <td class="border-table-animal"><div></div></td>
                    </tr>
                </table>
            </div>
        </section>

    </form>

</body>

</html>